.advert {
  background-color: #ddd;
  padding: 1.5rem;
  margin: 15rem 0 0 4rem;
  border-radius: 5px;
  box-shadow: 3px 3px 16px rgba(34, 34, 34, 0.8);
}

.advertInner {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #666;
  height: 41rem;
  background-color: #eee;
}

.advertInner h2 {
  font-size: 3.7rem;
  font-weight: 700;
}

.advert p {
  font-weight: 600;
  max-width: 21rem;
  margin-top: 2rem;
}

.advert button {
  width: 100%;
  background-color: #111;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 4rem;
  font-size: 1.7rem;
}

@media only screen and (max-width: 75em) {
  .advert {
    margin: 5rem auto 0;
  }
}

@media only screen and (max-width: 31.25em) {
  .advertInner {
    padding: 2rem;
  }
  .advertInner h2 {
    font-size: 3rem;
  }
}
