.homeCover {
  overflow: hidden;
  width: 100vw;
  height: calc(100vh - 10rem);
  position: relative;
}

.homeCover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.95);
}

.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  background: linear-gradient(90deg, #222 13px, transparent 1%) center,
    linear-gradient(#222 13px, transparent 1%) center, #333;
  background-size: 15px 15px;
  height: 33rem;
  color: #fffc;
}

.homeHeaderTitle {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 1;
  padding: 0.3rem 1.3rem;
  background-color: #003dff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
}

.homeSubTitle {
  max-width: 100rem;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.18;
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 87.5em) {
  .homeCover {
    height: 70rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .homeCover {
    height: 60rem;
  }
  .homeSubTitle {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 46.875em) {
  .homeCover {
    height: 50rem;
  }

  .homeSubTitle {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 34.375em) {
  .homeCover {
    height: 45rem;
  }
  .homeSubTitle {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 30em) {
  .homeCover {
    height: 35rem;
  }
}
