.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f184b;
  margin-top: 15rem;
  padding: 3rem;
}

.firstFlex {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  gap: 4rem;
}

.secondFlex {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

@media only screen and (max-width: 70em) {
  .footer {
    flex-direction: column;
    gap: 4rem;
  }

  .firstFlex {
    gap: 2rem;
  }

  .secondFlex {
    gap: 2rem;
  }
}
