.header {
  display: flex;
  padding-left: 3.5rem;
  align-items: center;
  height: 10rem;
  background-color: #fff;
}

.headerList {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-left: auto;
  width: 68rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 2rem;
}

.headerSub {
  position: relative;
  display: flex;
  justify-content: space-evenly;

  width: 20rem;
  list-style: none;
}

.headerSub::before {
  content: "";
  width: 1px;
  height: 25px;
  background-color: #222;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
